.mapboxgl-ctrl-group {
  @include themed() {
    background-color: t($paper) !important;
  }

  box-shadow: $shadow !important;
  border-radius: $border-radius !important;

  & > button:hover {
    @include themed() {
      background-color: t($paper-hover) !important;
    }
  }

  & > button + button {
    @include themed() {
      border-top: 1px solid t($paper-hover);
    }
  }

  .mapboxgl-ctrl-icon {
    &.mapboxgl-ctrl-zoom-in,
    &.mapboxgl-ctrl-zoom-out {
      padding: 9px;
      background-size: contain;
      background-position: center;
      background-origin: content-box;
      background-repeat: no-repeat;
    }

    &.mapboxgl-ctrl-zoom-in {
      @include themed() {
        background-image: t($plus) !important;
      }
    }

    &.mapboxgl-ctrl-zoom-out {
      @include themed() {
        background-image: t($minus) !important;
      }
    }
  }
}
