.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: $shadow !important;
  border-radius: $border-radius !important;
}

.mapboxgl-ctrl-geocoder {
  position: relative;
  flex: 1;
  width: unset !important;
  max-width: unset !important;
  z-index: 1;
  font-size: inherit !important;
  line-height: 24px;
  background-color: #fff;
  border-radius: 8px;

  @media (min-width: $breakpoint-sm) {
    box-shadow: none !important;
  }

  &--input {
    height: 100% !important;
    padding: $spacing $spacing * 5 !important;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing $spacing * 6 !important;
    }
  }

  &--icon {
    top: 0 !important;
    height: 100% !important;
  }

  &--pin-right > * {
    top: 0 !important;
    height: 100%;
  }

  &--icon-search {
    @media (max-width: $breakpoint-sm) {
      left: 12px !important;
      width: 24px !important;
    }
  }

  &--icon-close,
  &--icon-loading {
    margin-top: 0 !important;
  }

  &--button:focus {
    outline: none;
  }
}
