.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  border-radius: $border-radius !important;
  box-shadow: $shadow !important;
}

.mapboxgl-ctrl-geocoder {
  position: relative;
  flex: 1;
  width: unset !important;
  max-width: unset !important;
  z-index: 1;
  font-size: inherit !important;
  line-height: 24px;
  border-radius: 4px;
  outline: none;

  @include themed() {
    background-color: t($paper);
  }

  @media (min-width: $breakpoint-sm) {
    box-shadow: none !important;
  }

  &--input {
    height: 100% !important;
    padding-left: $spacing * 6 !important;
    padding-top: $spacing !important;
    padding-bottom: $spacing !important;
    padding-right: $spacing * 5 !important;

    @include themed() {
      color: t($text) !important;
    }

    @media (max-width: $breakpoint-sm) {
      padding-top: $spacing * 2 !important;
      padding-bottom: $spacing * 2 !important;
      padding-right: $spacing * 6 !important;
    }
  }

  &--icon {
    top: 0 !important;
    height: 100% !important;

    @include themed() {
      background-color: t($paper);
    }
  }

  &--pin-right > * {
    top: 0 !important;
    height: 100%;
  }

  &--icon-search,
  &--icon-loading {
    display: none !important;
  }

  &--icon-close {
    margin: 0 !important;
    fill: #6c6c6c !important;

    @media (max-width: $breakpoint-sm) {
      padding-right: 3px;
    }
  }

  &--button:focus {
    outline: none;
  }

  &--button:hover &--icon-close {
    @include themed() {
      fill: t($text) !important;
    }
  }

  .suggestions {
    border-radius: $border-radius !important;
    font-size: inherit !important;
    line-height: inherit !important;
    @media only screen and (min-width: $breakpoint-sm) {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    }

    @include themed() {
      background-color: t($paper);
    }

    li {
      a {
        width: 100%;
        display: flex !important;
        align-items: center !important;
        min-height: 48px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        color: inherit !important;
      }

      a:hover {
        @include themed() {
          background-color: t($hovered) !important;
        }
      }
    }

    li.active {
      a,
      a:hover {
        @include themed() {
          background-color: t($selected) !important;
        }
      }
    }
  }

  &--suggestion {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
  }
}
