.mapboxgl-popup-content {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

.mapboxgl-popup-anchor-top {
  .mapboxgl-popup-tip {
    border-bottom-color: rgba(255, 255, 255, 0.9) !important;
    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: none;
      border-bottom-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.mapboxgl-popup-anchor-bottom {
  .mapboxgl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.9) !important;
  }
}

.mapboxgl-popup-anchor-left,
.mapboxgl-popup-anchor-right,
.mapboxgl-popup-anchor-top-left,
.mapboxgl-popup-anchor-top-right,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
  .mapboxgl-popup-tip {
    display: none !important;
  }
}
