$text: 'text';
$paper: 'paper';
$paper-hover: 'paper-hover';
$hovered: 'hovered';
$selected: 'selected';
$plus: 'plus';
$minus: 'minus';

$themes: (
  light: (
    text: $text--light,
    paper: $paper--light,
    paper-hover: $paper-hover--light,
    hovered: $hovered--light,
    selected: $selected--light,
    plus: $plus--light,
    minus: $minus--light,
  ),
  dark: (
    text: $text--dark,
    paper: $paper--dark,
    paper-hover: $paper-hover--dark,
    hovered: $hovered--dark,
    selected: $selected--dark,
    plus: $plus--dark,
    minus: $minus--dark,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
